.para {
  font-size: 25px;
  font-family: Kunstler Script;
  font-weight: bold;
  border: 3px solid blue;
  text-align: right;
}

table,
th,
td {
  border: 2px solid green;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

table {
  width: 50%;
  align-items: center;
}

th {
  background-color: grey;
}

td {
  background-color: lightgrey;
}

p {
  color: blue;
}

span {
  color: red;
}
h1, h3{
  color:darkblue;
  text-align:center;
  background-position: left;
  background-color: lightgrey;
}
h3{
  text-align:left;
}
.demo {
  color:red;
  background-color: lightblue;
  width: 200px;
  height: 100px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;

}
#outer {
  padding:20px;
  margin-left: 20px;
}
