{% extends "layout.html" %}
{% block body %}
<style>
  img {
    width: 20%;
    height: auto;
  }
</style>
<h1>Member Details</h1>
<div id="imageid"></div>
<ul>
  <li>ID: <span id="memberid">{{ member.id }}</span></li>
  <li>First Name: {{ member.firstname }}</li>
  <li>Last Name: {{ member.lastname }}</li>
  <li>Date of Birth: {{ member.dob }}</li>
</ul>

<script>
  var memberid = document.querySelector('#memberid');
  var memberid = memberid.innerHTML;
  function changeImage(memberid) {
    var imagesrc = "<img src='/static/uploads/" + memberid + ".jpg'>";
    return imagesrc;
  }
  document.getElementById("imageid").innerHTML = changeImage(memberid);
</script>

<h2>{{message}}</h2>
<button id="updatemember" onclick="visibleonclick()" disabled>Update Member Details </button> Under Construction
<br><br>


<div class="myDiv" style="visibility:hidden">

    <form action="{{url_for('forupdatemember')}}" method="post" name="form3" enctype=multipart/form-data>

      ID : {{member.id}} <input type="hidden" id="updateid" name="updateid" value="{{member.id}}"/>

      First Name : <input type="text" class="mm" name="updatefname" id="updatefname" value="{{ member.firstname }}" autocomplete="off" autofocus><br><br>
      Last Name : <input type="tel" class="mm" name="updatelname" id="updatelname" value= "{{ member.lastname }}" autocomplete="off" autofocus><br><br>
      Date of Birth : <input type="date" name="updatedob" id="updatedob" value="{{ member.dob }}"><br><br>
      Upload Photo : <input type=file name=file><br><br>
      <button id="regstermember" type="submit" value="Register">Update</button>

    </form>

</div>


<script>
    function visibleonclick() {
        document.querySelector('.myDiv').style.visibility = "visible";
    }

</script>

{% endblock %}
